footer {
    display: flex;
    padding: 30px 80px;
    background-color: $terciary-color;
    color: $secondary-font-color;
    justify-content: space-between;
    align-items: center;

    .leftSection{
        @include flex_column;
        gap: 10px;
        width: 35%;

        .bakeryHeader{
            color: $secondary-font-color;
        }

        p{
            font-size: 0.85rem;
        }
    }

    .footerNav{ 
        border-left: solid 2px $primary-logo-color;
        padding: 0 0 0 15px;
        width: 30%;

        ul{
            @include flex_column;
            gap: 10px;

            .footerNavText{
                color: $secondary-font-color;
            }
        }

    }
}