.homeMain{
    // HOME PAGE GENERAL STYLES
    section:first-child{
        height: 90vh;
    }

    section{
        min-height: 30vh;
    }

    section:last-child{
        height: 30vh;
    }
    

    // HeroHome STYLES
    .heroHome{
        display: flex;
        align-items: center;
        justify-content: space-between;
        // CUANDO AGREGUEMOS LA IMAGEN HAY QUE BORRAR LA LINEA DE ARRIBA

        .leftSideDiv{
            @include flex_column;
            height: 100%;
            align-items: space-between;
            width: 49%;

            .leftTextContainer{
                @include flex_column;
                gap: 30px;
                height: 100%;
                justify-content: center;
                
                h1, h2 {
                    display: inline;
                    margin: 0;
                    padding: 0;
                    font-size: 3rem;
                }
                
                h1{
                    color: $primary-logo-color;
                }
                
                h2{
                    color: $primary-color;
                }
                
                .anos_productosContainer{
                    @include flex_row;                
                    gap: 40px;
                }
            }

            .decorationBottomLine{
                width: 7rem;
                height: 0.8rem;
                background-color: $secondary-complementary-color;
                margin: 0 0 35px 0;
            }

        }

        .rightSideDiv{
            @include flex_row;
            height: 100%;
            padding: 25px 0 0 0;

            .decorationRightLine{
                height: 7rem;
                width: 0.8rem;
                background-color: $secondary-color;
            }
        }

    }
    
    
    // ProductsHome STYLES
    .productsHome{
        @include flex-column;
        gap: 20px;
        align-items: center;
        margin: 0 0 35px 0;

        h2{
            text-align: center;
            font-size: 3rem;
        }

        div{
            width: 100%;

            .productsTextDiv{
                @include flex_column;
                text-align: center;
                gap: 30px;
                margin: 50px;
            }

            div{
                height: 100%;

                h2{
                    font-size: 2rem;
                }
            }
        }


        .panaderiaContainer{
            @include flex_row;
            @include products_LayOut(50%);
            @include center_all;
            padding: 15px;

        }

        .rotiseriaContainer{
            @include products_LayOut(50%);
            @include center_all;
            display: flex; 
            flex-direction: row-reverse; 
            padding: 15px;
        }

        .confiteriaContainer{
            @include flex_row;
            @include products_LayOut(50%);
            @include center_all;
            background-color: $terciary-color;
            border-radius: 20px;
            padding: 15px;

            .productsTextDiv{
                color: $secondary-font-color;
            }

            .confiteriaBento{
                @include center_all;
                @include flex_row;  
                height: 400px;
                padding: 15px;
                gap: $bento-gap;

                img{
                    width: 25%;
                    object-fit: cover;
                    height: 100%;
                    border-radius: 10px;
                }
                
                .fatherLeftDiv{
                    @include flex_row;
                    @include center_all;
                    gap: $bento-gap;
                    width: 75%;

                    .childrenLeftDiv{
                        @include flex-column;
                        @include center_all;
                        gap: $bento-gap;
                        width: 33%;

                        .topLeftImg{
                            height: 33%;
                            width: 100%;
                        }
                        .bottomLeftImg{
                            height: 66%;
                            width: 100%
                        }

                    }
                    .childrenCenterDiv{
                        @include flex-column;
                        gap: $bento-gap;
                        width: 66%;
                        height: 100%;
                        overflow: hidden;
                        
                        .childrenCenterTopDiv{
                            @include flex_row;
                            gap: $bento-gap;
                            width: 100%;
                            height: 33%;

                            img{
                                height: 100%;
                                width: 50%;
                            }
                        }

                        .childrenCenterBottomDiv{
                            @include flex-column;
                            gap: $bento-gap;
                            width: 100%;
                            height: 66%;

                            img{
                                height: 50%;
                                width: 100%;
                            }
                        }
                    }
                }

            }

        }

        .sandwicheriaContainer{
            @include flex_row;
            @include products_LayOut(33%);
            @include center_all;
            padding: 15px;
        }
    }
    
    // ContactHome STYLES
    .contactHome{
        display: flex;
        @include center_all;
        background-color: $main-complementary-color;
        border-radius: 30px;

        h2{
            font-size: 2.35rem;
        }

        h3{
            font-weight: 450;
        }

        div{
            @include flex-column;
            @include center_all;
            gap: $bento-gap;
        }
    }
}
