.homeMain{
    // HOME PAGE GENERAL STYLES
    section:first-child{
        height: 90vh;
    }

    section{
        min-height: 30vh;
    }

    section:last-child{
        height: 30vh;
    }
    

    // HeroHome STYLES
    .heroHome{
        display: flex;
        align-items: center;
        justify-content: space-between;
        // CUANDO AGREGUEMOS LA IMAGEN HAY QUE BORRAR LA LINEA DE ARRIBA

        .leftSideDiv{
            @include flex_column;
            height: 100%;
            align-items: space-between;
            width: 49%;

            .leftTextContainer{
                @include flex_column;
                gap: 30px;
                height: 100%;
                justify-content: center;
                
                h1, h2 {
                    display: inline;
                    margin: 0;
                    padding: 0;
                    font-size: 3rem;
                }
                
                h1{
                    color: $primary-logo-color;
                }
                
                h2{
                    color: $primary-color;
                }
                
                .anos_productosContainer{
                    @include flex_row;                
                    gap: 40px;
                }
            }

            .decorationBottomLine{
                width: 7rem;
                height: 0.8rem;
                background-color: $secondary-complementary-color;
                margin: 0 0 35px 0;
            }

        }

        .rightSideDiv{
            @include flex_row;
            height: 100%;
            padding: 25px 0 0 0;

            .decorationRightLine{
                height: 7rem;
                width: 0.8rem;
                background-color: $secondary-color;
            }
        }

    }
    
    
    // ProductsHome STYLES
    .productsHome{
        @include flex-column;
        gap: 20px;
        margin: 0 0 35px 0;

        h2{
            text-align: center;
            font-size: 3rem;
        }

        .productsTextDiv{
            @include center_all;
            @include flex_column;
            padding: 15px;
            text-align: center;
            gap: 30px;
            margin: 50px;
    
            h2{
                font-size: 2.5rem;
            }
        }


        .panaderiaContainer{
            @include flex_row;
            @include products_LayOut(50%);
            @include center_all;
            @include product_Father($primary-color);

            .panaderiaBento{
                @include flex_row;
                @include center_all;
                gap: $bento-gap;

                img{
                    @include bentoImg(50%, 100%, 10px)                
                }
            }

        }

        .rotiseriaContainer{
            @include products_LayOut(50%);
            @include center_all;
            display: flex; 
            flex-direction: row-reverse; 

            .rotiseriaBento{
                @include flex_row;
                @include center_all;
                height: 100%;
                gap: $bento-gap;

                img{
                    @include bentoImg (50%, 100%, 10px)

                }
            }
        }

        .confiteriaContainer{
            @include flex_row;
            @include products_LayOut(50%);
            @include center_all;
            @include product_Father($terciary-color);

            .productsTextDiv{
                color: $secondary-font-color;
            }

            .confiteriaBento{
                @include center_all;
                @include flex_row;  
                height: 100%;
                padding: 15px;
                gap: $bento-gap;

                img{
                    @include bentoImg(25%, 100%, 10px);
                }
                
                .fatherLeftDiv{
                    @include flex_row;
                    @include center_all;
                    @include bentoImg(75%, 100%, 0);
    
                    .childrenLeftDiv{
                        @include flex-column;
                        @include center_all;
                        @include bentoImg (33%, 100%, 0);

                        .topLeftImg{
                            @include bentoImg(100%, 33%, 10px);
                        }
                        .bottomLeftImg{
                            @include bentoImg(100%, 66%, 10px);
                        }

                    }
                    .childrenCenterDiv{
                        @include flex-column;
                        @include bentoImg (66%, 100%, 0);
                        overflow: hidden;
                        
                        .childrenCenterTopDiv{
                            @include flex_row;
                            @include bentoImg (100%, 33%, 0);

                            img{
                                @include bentoImg (50%, 100%, 10px);
                            }
                        }

                        .childrenCenterBottomDiv{
                            @include flex-column;
                            @include bentoImg (100%, 66%, 0);

                            img{
                                @include bentoImg (100%, 50%, 10px);
                            }
                        }
                    }
                }
            }

        }

        .sandwicheriaContainer{
            @include flex_row;
            @include products_LayOut(33%);
            @include center_all;
        }
    }
    
    // ContactHome STYLES
    .contactHome{
        display: flex;
        @include center_all;
        background-color: $main-complementary-color;
        border-radius: 30px;

        h2{
            font-size: 2.35rem;
        }

        h3{
            font-weight: 450;
        }

        div{
            @include flex-column;
            @include center_all;
            gap: $bento-gap;
        }
    }
}
