// UNIVERSAL MIXINS
@mixin flex_row{
    display: flex;
    flex-direction: row;
}

@mixin flex_column{
    display: flex;
    flex-direction: column;
}

@mixin center_all{
    justify-content: center;
    align-items: center;
}

// // // HOMEPAGE MIXINS
@mixin products_LayOut ($width){
    height: 70vh;
    padding: 15px;

    div{
        width: $width;
    }
}

@mixin product_Father($background-color){
    background-color: $background-color;
    border-radius: 10px;
}

// // BENTO MIXINS

@mixin bentoImg ($width, $height, $border-radius){
    width: $width;
    height: $height;
    // border-radius: $border-radius;
    gap: $bento-gap;
    object-fit: cover;
}

@mixin width_height($width, $height){
    width: $width;
    height: $height;
}
