header{
    padding: 10px 80px;
    background-color: $terciary-color;

    .navBar{
        display: flex;
        color: $secondary-font-color;
        justify-content: space-between;

        div{
            width: 27%;

            .backToHome{
                display: flex;
                gap: 25px;
                align-items: center;

                .bakeryHeader{
                    color: $secondary-font-color;
                }
            }
        };

        ul{
            display: flex;
            align-items: center;
            width: 35%;
            justify-content: space-between;

            .navText{
                color: $secondary-font-color;
            }

            .contactLink{
                border: solid 3px $secondary-complementary-color;
                padding: 5px 15px;
                transition: all 0.2s ease-in-out;
            }
            .contactLink:hover{
                background-color: $secondary-complementary-color;
                color: $main-font-color;
            }
        }

    }
}
