// FONTS
$text-font2: "Exo", sans-serif;
$text-font: "Questrial", sans-serif;
$headers-font-Outfit: "Outfit", sans-serif;

// FONT COLORS
$main-font-color: #050e12;
$secondary-font-color: #dbc8c0;
// $background-color: #232020;

// PALETTE
// $primary-color: #955E42;
// $complementary-main-color: #ff6f0e;
// $primary-logo-color: #ca3a3a;
// $secondary-color: #fcca46;
// $terciary-color: #233d4d;
// $main-complementary-color: #a1c181;
// $secondary-complementary-color: #619b8a;

// // // BACKGROUND COLORS
// $main-background-color: #104C64;
// $secondary-background-color: #B58863;
// $terciary-background-color: #553739;
// $complementary-background-color: #232020;
$whatsApp-background: #25d366;


//Paleta 1
// // $primary-color:#F3E5D9;
// // $complementary-main-color: #ECD4B4;
// // $primary-logo-color: #FFBE98;
// // $secondary-color: #C96C53;
// // $terciary-color: #DC8036;
// // $main-complementary-color: #77503D;
// // $secondary-complementary-color: #77503D;
// // $complementary-background-color: #C96C53;
// // $main-background-color: #ECD4B4;
// // $secondary-background-color: #F3E5D9;
// // $terciary-background-color: #DC8036;


//Paleta 2
// // $primary-color:#F7F1E6;
// // $complementary-main-color: #A8744F;
// // $primary-logo-color: #90AEB2;
// // $secondary-color: #DD8E75;
// // $terciary-color: #B6594C;
// // $main-complementary-color: #37514D;
// // $secondary-complementary-color: #37514D;
// // $complementary-background-color: #B6594C;
// // $main-background-color: #90AEB2;
// // $secondary-background-color: #DD8E75;
// // $terciary-background-color: #A8744F;


//Paleta 3
// $primary-color:#EFE7DA;
// $complementary-main-color: #E1DACA;
// $primary-logo-color: #C1B6A4;
// $secondary-color: #F6F5EC;
// $terciary-color: #B29079;
// $main-complementary-color: #B29079;
// $secondary-complementary-color: #C1B6A4;
// $complementary-background-color: #F6F5EC;
// $main-background-color: #E1DACA;
// $secondary-background-color: #EFE7DA;
// $terciary-background-color: #B29079;

//paleta 4
// $primary-color:#3B352B;
// $complementary-main-color: #F7F3E3;
// $primary-logo-color: #B3B6B7;
// $secondary-color: #6F1A07;
// $terciary-color: #4D1E10;
// $main-complementary-color: #2B211B;
// $secondary-complementary-color: #2B211B;
// $complementary-background-color: #4D1E10;
// $main-background-color: #6F1A07;
// $secondary-background-color: #B3B6B7;
// $terciary-background-color: #F7F3E3;

//paleta 5
$primary-color:#802826;
$complementary-main-color: #201F1D;
$primary-logo-color: #DAA258;
$secondary-color: #E0D6D5;
$terciary-color: #AF4708;
$main-complementary-color: #B57A5A;
$secondary-complementary-color: #B57A5A;
$complementary-background-color: #AF4708;
$main-background-color: #E0D6D5;
$secondary-background-color: #DAA258;
$terciary-background-color: #AF4708;
//ESTE SE VE MUY BIEN

//paleta 6
// $primary-color:#682022;
// $complementary-main-color: #262421;
// $primary-logo-color: #B7A28E;
// $secondary-color: #5F584D;
// $terciary-color: #340F0F;
// $main-complementary-color: #7E542E;
// $secondary-complementary-color: #7E542E;
// $complementary-background-color: #340F0F;
// $main-background-color: #5F584D;
// $secondary-background-color: #B7A28E;
// $terciary-background-color: #262421;
//ESTE SE VE MUY BIEN



// // // MEASURES
$bento-gap: 5px;
$border-radius: 15px;