// FONTS
$text-font2: "Exo", sans-serif;
$text-font: "Questrial", sans-serif;
$headers-font-Outfit: "Outfit", sans-serif;

// FONT COLORS
$main-font-color: #050e12;
$secondary-font-color: #dbc8c0;
// $background-color: #232020;

// PALETTE
$primary-color: #955E42;
$complementary-main-color: #ff6f0e;
$primary-logo-color: #ca3a3a;
$secondary-color: #fcca46;
$terciary-color: #233d4d;
$main-complementary-color: #a1c181;
$secondary-complementary-color: #619b8a;

// // BACKGROUND COLORS
$main-background-color: #104C64;
$secondary-background-color: #B58863;
$terciary-background-color: #553739;
$complementary-background-color: #232020;
$whatsApp-background: #25d366;


// // // MEASURES
$bento-gap: 5px;