// FONTS
$text-font: "Exo", sans-serif;
$headers-font-Questrial: "Questrial", sans-serif;
$headers-font-Outfit: "Outfit", sans-serif;

// FONT COLOR
$main-font-color: #050e12;
$secondary-font-color: #b09c94;

// PALETTE
$primary-color: #fe7f2d;
$primary-logo-color: #ca3a3a;
$secondary-color: #fcca46;
$terciary-color: #233d4d;
$main-complementary-color: #a1c181;
$secondary-complementary-color: #619b8a;
